name: Create Tag

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Create tag
    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'

    - id: auto-tag
      name: "Bump/tag version v?.?.?"
      uses: anothrNick/github-tag-action@1.35.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        RELEASE_BRANCHES: main
        DEFAULT_BUMP: patch
        #INITIAL_VERSION: default is 0.0.0

    - uses: actions/checkout@v2
      name: "Checkout create-tag action"
      with:
        repository: doragonroudo/test-create-tag

    - name: "Tag"
      uses: rickstaa/action-create-tag@v1
      with:
        tag: "test2"
        message: "Very noice"
        force_push_tag: true
        commit_sha: ${{ github.sha }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}