name: Create Tag

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Create tag
    runs-on: ubuntu-20.04

    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: "test self tag"
      run: |
        curl \
        -X POST \
        -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
        https://api.github.com/repos/$GITHUB_REPOSITORY/git/tags \
        -d '{"tag":"tag","message":"message","object":"$GITHUB_SHA","type":"commit"}'
             
    # - id: auto-tag
    #   name: "Bump/tag version"
    #   uses: anothrNick/github-tag-action@1.35.0
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     WITH_V: true
    #     RELEASE_BRANCHES: main
    #     DEFAULT_BUMP: patch


    # - uses: actions/checkout@v2
    #   name: "Checkout create-tag action"
    #   with:
    #     repository: doragonroudo/test-create-tag

    # - name: "Tag"
    #   uses: rickstaa/action-create-tag@v1
    #   with:
    #     tag: "v2"
    #     message: "Very noice"
    #     force_push_tag: true
    #     commit_sha: ${{ github.sha }}
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      